/*Mobile First Style*/
.dashboard {
  width : 100%;
  height: 100%;

  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;

  background-color: white;

  opacity : 0;
  position: relative;
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {}