/*Mobile First Style*/
.splashScreen {
  width : 100%;
  height: 100%;

  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;

  position: relative;

  /* background-image : url(../../../../public//images//sky.png);
  background-repeat: no-repeat;
  background-size  : 400%; */
  background : linear-gradient(180deg, rgba(255, 255, 255, 0.4), #5a93d6);

}

.image {
  width : 100%;
  height: 100%;

  /* position: relative; */

  margin-top: 15vw;

  background-image   : url(../../../resources//images/clip-education-2.png);
  background-repeat  : no-repeat;
  background-size    : 50%;
  background-position: top;

  display        : flex;
  justify-content: center;
  align-items    : flex-start;
}

.circleLine {
  width : 120%;
  height: 120vw;

  border-radius: 100%;
  position     : absolute;
  top          : -5vw;

  border: 2px solid rgba(0, 0, 0, 0.1);
}

.circleLine.inner {
  width : 80%;
  height: 80vw;

  top   : 4vw;
  border: 2px solid rgba(196, 200, 255, 0.3);
}

.logoWrapper {
  width : 100%;
  height: auto;

  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;

  /* background-color: aquamarine; */
}

.logoWrapper .logo {
  width : 100%;
  height: auto;

  font-size  : 6vw;
  font-weight: 700;
  color      : white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.loaderWrapper {
  width : 100%;
  height: auto;

  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;

  /* background-image: url(../../../resources//images/pngegg\ \(2\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: 20vw; */
  
}

.loaderWrapper .loader {
  width : 5vw;
  height: 5vw;

  position: absolute;
  bottom: 5%;

  border             : 0.6vw solid transparent;
  border-top-color   : #fdf0d5;
  border-bottom-color: #fdf0d5;
  border-left-color  : #fdf0d5;
  /* border-right-color  : rgba(0, 53, 102, 0.4); */
  border-radius      : 100%;

  overflow: visible;
}

.loaderWrapper .text {
  /* width: 100%; */
  position: relative;
  top     : 0;

  display        : flex;
  justify-content: center;
  align-items    : center;

  text-align    : center;
  letter-spacing: 1px;

  font-size  : 4.5vw;
  font-weight: 400;
  color      : #1c1632;

  opacity: 0;
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {}