/*Mobile First Style*/
.welcome {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {

}
